* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: system-ui, sans-serif;
  perspective: 1500px;
  background: linear-gradient(white, #efefef);
}

.card-wrap {
  display: flex;
  gap: 20px;
}

.card {
  font-weight: bold;
  padding: 1em;
  text-align: right;
  color: #181a1a;
  
  width:  300px;
  height: 400px;
  box-shadow: 0 1px 5px #00000099;
  
  border-radius: 10px;
  // background-image: url(https://images.unsplash.com/photo-1557672199-6e8c8b2b8fff?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  // background-size: cover;
  
  position: relative;
  
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  transform: rotate3d(0);
}

.card:hover {
  transition-duration: 250ms;
}

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.card-effects {
  // opacity: 0;
  // transition: opacity 0.3s;
  // opacity: var(--opacity);
}

// .card:hover {
//   .card-effects {
//     opacity: 1;
//   }
// }

.card-effects__pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background: url(../images/pattern_1.png) center center / 25% auto;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
}

.card-effects__color {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background: linear-gradient(115deg, transparent 20%, #40A4BF 30%, transparent 48% 52%, #404FBF 70%, transparent);
  background-position: 50% 50%;
  background-size: 200% 200%;

  // background-position: calc(50% + (var(--mouse-x) * -50%)) calc(50% + (var(--mouse-y) * -50%));

  mix-blend-mode: overlay;

  opacity: var(--opacity);
}

.card-effects__glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  mix-blend-mode: overlay;

  opacity: calc(var(--opacity) * 0.5);
  

  // background-image: radial-gradient(circle at var(--mouse-x) var(--mouse-y),#ffffff22, #0000000f);
  background-image: radial-gradient(circle at var(--mouse-x) var(--mouse-y),rgba(255,255,255,.8) 10%, rgba(255,255,255,.65) 20%, rgba(0,0,0,.5) 90%);
}

